<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.asd.dao.ColumnBtoMapper">
    <resultMap id="BaseResultMap" type="com.example.asd.entity.ColumnBto">
        <constructor>
            <idArg column="COLUMN_ID" javaType="java.lang.String" jdbcType="CHAR"/>
            <arg column="COLUMN_NAME" javaType="java.lang.String" jdbcType="NVARCHAR"/>
            <arg column="ORDER_NUM" javaType="java.lang.Integer" jdbcType="NUMERIC"/>
            <arg column="WIDTH" javaType="java.lang.Integer" jdbcType="NUMERIC"/>
            <arg column="ISSHOW" javaType="java.lang.Integer" jdbcType="NUMERIC"/>
            <arg column="SORT" javaType="java.lang.String" jdbcType="NVARCHAR"/>
            <arg column="ISCANSORT" javaType="java.lang.Integer" jdbcType="NUMERIC"/>
            <arg column="ISDELETE" javaType="java.lang.Integer" jdbcType="NUMERIC"/>
            <arg column="CREATEAT" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="CREATEBY" javaType="java.lang.String" jdbcType="CHAR"/>
            <arg column="UPDATEAT" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="UPDATEBY" javaType="java.lang.String" jdbcType="CHAR"/>
            <arg column="DATAPROPERTYNAME" javaType="java.lang.String" jdbcType="NVARCHAR"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    COLUMN_ID, COLUMN_NAME, ORDER_NUM, WIDTH, ISSHOW, SORT, ISCANSORT, ISDELETE, CREATEAT,
    CREATEBY, UPDATEAT, UPDATEBY,DATAPROPERTYNAME
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from F_COLUMN
        where COLUMN_ID = #{columnId,jdbcType=CHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from F_COLUMN
    where COLUMN_ID = #{columnId,jdbcType=CHAR}
  </delete>
    <insert id="insert" parameterType="com.example.asd.entity.ColumnBto">
    insert into F_COLUMN (COLUMN_ID, COLUMN_NAME, ORDER_NUM, 
      WIDTH, ISSHOW, SORT,
      ISCANSORT, ISDELETE, CREATEAT, 
      CREATEBY, UPDATEAT, UPDATEBY,DATAPROPERTYNAME
      )
    values (#{columnId,jdbcType=CHAR}, #{columnName,jdbcType=NVARCHAR}, #{orderNum,jdbcType=NUMERIC}, 
      #{width,jdbcType=NUMERIC}, #{isshow,jdbcType=NUMERIC}, #{sort,jdbcType=NVARCHAR},
      #{iscansort,jdbcType=NUMERIC}, #{isdelete,jdbcType=NUMERIC}, #{createat,jdbcType=TIMESTAMP}, 
      #{createby,jdbcType=CHAR}, #{updateat,jdbcType=TIMESTAMP}, #{updateby,jdbcType=CHAR},#{dataPropertyName,jdbcType=CHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.example.asd.entity.ColumnBto">
        insert into F_COLUMN
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="columnId != null">
                COLUMN_ID,
            </if>
            <if test="columnName != null">
                COLUMN_NAME,
            </if>
            <if test="orderNum != null">
                ORDER_NUM,
            </if>
            <if test="width != null">
                WIDTH,
            </if>
            <if test="isshow != null">
                ISSHOW,
            </if>
            <if test="sort != null">
                SORT,
            </if>
            <if test="iscansort != null">
                ISCANSORT,
            </if>
            <if test="isdelete != null">
                ISDELETE,
            </if>
            <if test="createat != null">
                CREATEAT,
            </if>
            <if test="createby != null">
                CREATEBY,
            </if>
            <if test="updateat != null">
                UPDATEAT,
            </if>
            <if test="updateby != null">
                UPDATEBY,
            </if>
            <if test="dataPropertyName != null">
                DATAPROPERTYNAME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="columnId != null">
                #{columnId,jdbcType=CHAR},
            </if>
            <if test="columnName != null">
                #{columnName,jdbcType=NVARCHAR},
            </if>
            <if test="orderNum != null">
                #{orderNum,jdbcType=NUMERIC},
            </if>
            <if test="width != null">
                #{width,jdbcType=NUMERIC},
            </if>
            <if test="isshow != null">
                #{isshow,jdbcType=NUMERIC},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=NVARCHAR},
            </if>
            <if test="iscansort != null">
                #{iscansort,jdbcType=NUMERIC},
            </if>
            <if test="isdelete != null">
                #{isdelete,jdbcType=NUMERIC},
            </if>
            <if test="createat != null">
                #{createat,jdbcType=TIMESTAMP},
            </if>
            <if test="createby != null">
                #{createby,jdbcType=CHAR},
            </if>
            <if test="updateat != null">
                #{updateat,jdbcType=TIMESTAMP},
            </if>
            <if test="updateby != null">
                #{updateby,jdbcType=CHAR},
            </if>
            <if test="dataPropertyName != null">
                #{dataPropertyName,jdbcType=NVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.example.asd.entity.ColumnBto">
        update F_COLUMN
        <set>
            <if test="columnName != null">
                COLUMN_NAME = #{columnName,jdbcType=NVARCHAR},
            </if>
            <if test="orderNum != null">
                ORDER_NUM = #{orderNum,jdbcType=NUMERIC},
            </if>
            <if test="width != null">
                WIDTH = #{width,jdbcType=NUMERIC},
            </if>
            <if test="isshow != null">
                ISSHOW = #{isshow,jdbcType=NUMERIC},
            </if>
            <if test="sort != null">
                SORT = #{sort,jdbcType=NVARCHAR},
            </if>
            <if test="iscansort != null">
                ISCANSORT = #{iscansort,jdbcType=NUMERIC},
            </if>
            <if test="isdelete != null">
                ISDELETE = #{isdelete,jdbcType=NUMERIC},
            </if>
            <if test="createat != null">
                CREATEAT = #{createat,jdbcType=TIMESTAMP},
            </if>
            <if test="createby != null">
                CREATEBY = #{createby,jdbcType=CHAR},
            </if>
            <if test="updateat != null">
                UPDATEAT = #{updateat,jdbcType=TIMESTAMP},
            </if>
            <if test="updateby != null">
                UPDATEBY = #{updateby,jdbcType=CHAR},
            </if>
            <if test="dataPropertyName != null">
                DATAPROPERTYNAME = #{dataPropertyName,jdbcType=NVARCHAR},
            </if>
        </set>
        where COLUMN_ID = #{columnId,jdbcType=CHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.example.asd.entity.ColumnBto">
    update F_COLUMN
    set COLUMN_NAME = #{columnName,jdbcType=NVARCHAR},
      ORDER_NUM = #{orderNum,jdbcType=NUMERIC},
      WIDTH = #{width,jdbcType=NUMERIC},
      ISSHOW = #{isshow,jdbcType=NUMERIC},
      SORT = #{sort,jdbcType=NVARCHAR},
      ISCANSORT = #{iscansort,jdbcType=NUMERIC},
      ISDELETE = #{isdelete,jdbcType=NUMERIC},
      CREATEAT = #{createat,jdbcType=TIMESTAMP},
      CREATEBY = #{createby,jdbcType=CHAR},
      UPDATEAT = #{updateat,jdbcType=TIMESTAMP},
      UPDATEBY = #{updateby,jdbcType=CHAR},
      DATAPROPERTYNAME = #{dataPropertyName,jdbcType=NVARCHAR}
    where COLUMN_ID = #{columnId,jdbcType=CHAR}
  </update>
</mapper>