<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.asd.dao.OptionBtoMapper">
  <resultMap id="BaseResultMap" type="com.example.asd.entity.OptionBto">
    <constructor>
      <idArg column="OPTION_ID" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="KIND" javaType="java.lang.Integer" jdbcType="NUMERIC" />
      <arg column="DATE_TYPE" javaType="java.lang.Integer" jdbcType="NUMERIC" />
      <arg column="MAX_LENGTH" javaType="java.lang.Integer" jdbcType="NUMERIC" />
      <arg column="MIN_LENGTH" javaType="java.lang.Integer" jdbcType="NUMERIC" />
      <arg column="MAX_NUM" javaType="java.lang.Integer" jdbcType="NUMERIC" />
      <arg column="MIN_NUM" javaType="java.lang.Integer" jdbcType="NUMERIC" />
      <arg column="REGULAR_TEXT" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="DATE_FORMAT" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="QUERY_FIELDS" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="LISTOFFILTER" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="VALUE" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="TEXT" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="DATE_SOURCE_KIND" javaType="java.lang.Integer" jdbcType="NUMERIC" />
      <arg column="VALUE_RANGE" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="ISDELETE" javaType="java.lang.Integer" jdbcType="NUMERIC" />
      <arg column="CREATEAT" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="CREATEBY" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="UPDATEAT" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="UPDATEBY" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="FIELD_TEXT" javaType="java.lang.String" jdbcType="NVARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    OPTION_ID, KIND, DATE_TYPE, MAX_LENGTH, MIN_LENGTH, MAX_NUM, MIN_NUM, REGULAR_TEXT, 
    DATE_FORMAT, QUERY_FIELDS, LISTOFFILTER, VALUE, TEXT, DATE_SOURCE_KIND, VALUE_RANGE, 
    ISDELETE, CREATEAT, CREATEBY, UPDATEAT, UPDATEBY, FIELD_TEXT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from F_OPTION
    where OPTION_ID = #{optionId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from F_OPTION
    where OPTION_ID = #{optionId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.example.asd.entity.OptionBto">
    insert into F_OPTION (OPTION_ID, KIND, DATE_TYPE, 
      MAX_LENGTH, MIN_LENGTH, MAX_NUM, 
      MIN_NUM, REGULAR_TEXT, DATE_FORMAT, 
      QUERY_FIELDS, LISTOFFILTER, VALUE, 
      TEXT, DATE_SOURCE_KIND, VALUE_RANGE, 
      ISDELETE, CREATEAT, CREATEBY, 
      UPDATEAT, UPDATEBY, FIELD_TEXT
      )
    values (#{optionId,jdbcType=CHAR}, #{kind,jdbcType=NUMERIC}, #{dateType,jdbcType=NUMERIC}, 
      #{maxLength,jdbcType=NUMERIC}, #{minLength,jdbcType=NUMERIC}, #{maxNum,jdbcType=NUMERIC}, 
      #{minNum,jdbcType=NUMERIC}, #{regularText,jdbcType=NVARCHAR}, #{dateFormat,jdbcType=NVARCHAR}, 
      #{queryFields,jdbcType=NVARCHAR}, #{listoffilter,jdbcType=NVARCHAR}, #{value,jdbcType=NVARCHAR}, 
      #{text,jdbcType=NVARCHAR}, #{dateSourceKind,jdbcType=NUMERIC}, #{valueRange,jdbcType=NVARCHAR}, 
      #{isdelete,jdbcType=NUMERIC}, #{createat,jdbcType=TIMESTAMP}, #{createby,jdbcType=CHAR}, 
      #{updateat,jdbcType=TIMESTAMP}, #{updateby,jdbcType=CHAR}, #{fieldText,jdbcType=NVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.asd.entity.OptionBto">
    insert into F_OPTION
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="optionId != null">
        OPTION_ID,
      </if>
      <if test="kind != null">
        KIND,
      </if>
      <if test="dateType != null">
        DATE_TYPE,
      </if>
      <if test="maxLength != null">
        MAX_LENGTH,
      </if>
      <if test="minLength != null">
        MIN_LENGTH,
      </if>
      <if test="maxNum != null">
        MAX_NUM,
      </if>
      <if test="minNum != null">
        MIN_NUM,
      </if>
      <if test="regularText != null">
        REGULAR_TEXT,
      </if>
      <if test="dateFormat != null">
        DATE_FORMAT,
      </if>
      <if test="queryFields != null">
        QUERY_FIELDS,
      </if>
      <if test="listoffilter != null">
        LISTOFFILTER,
      </if>
      <if test="value != null">
        VALUE,
      </if>
      <if test="text != null">
        TEXT,
      </if>
      <if test="dateSourceKind != null">
        DATE_SOURCE_KIND,
      </if>
      <if test="valueRange != null">
        VALUE_RANGE,
      </if>
      <if test="isdelete != null">
        ISDELETE,
      </if>
      <if test="createat != null">
        CREATEAT,
      </if>
      <if test="createby != null">
        CREATEBY,
      </if>
      <if test="updateat != null">
        UPDATEAT,
      </if>
      <if test="updateby != null">
        UPDATEBY,
      </if>
      <if test="fieldText != null">
        FIELD_TEXT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="optionId != null">
        #{optionId,jdbcType=CHAR},
      </if>
      <if test="kind != null">
        #{kind,jdbcType=NUMERIC},
      </if>
      <if test="dateType != null">
        #{dateType,jdbcType=NUMERIC},
      </if>
      <if test="maxLength != null">
        #{maxLength,jdbcType=NUMERIC},
      </if>
      <if test="minLength != null">
        #{minLength,jdbcType=NUMERIC},
      </if>
      <if test="maxNum != null">
        #{maxNum,jdbcType=NUMERIC},
      </if>
      <if test="minNum != null">
        #{minNum,jdbcType=NUMERIC},
      </if>
      <if test="regularText != null">
        #{regularText,jdbcType=NVARCHAR},
      </if>
      <if test="dateFormat != null">
        #{dateFormat,jdbcType=NVARCHAR},
      </if>
      <if test="queryFields != null">
        #{queryFields,jdbcType=NVARCHAR},
      </if>
      <if test="listoffilter != null">
        #{listoffilter,jdbcType=NVARCHAR},
      </if>
      <if test="value != null">
        #{value,jdbcType=NVARCHAR},
      </if>
      <if test="text != null">
        #{text,jdbcType=NVARCHAR},
      </if>
      <if test="dateSourceKind != null">
        #{dateSourceKind,jdbcType=NUMERIC},
      </if>
      <if test="valueRange != null">
        #{valueRange,jdbcType=NVARCHAR},
      </if>
      <if test="isdelete != null">
        #{isdelete,jdbcType=NUMERIC},
      </if>
      <if test="createat != null">
        #{createat,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null">
        #{createby,jdbcType=CHAR},
      </if>
      <if test="updateat != null">
        #{updateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null">
        #{updateby,jdbcType=CHAR},
      </if>
      <if test="fieldText != null">
        #{fieldText,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.asd.entity.OptionBto">
    update F_OPTION
    <set>
      <if test="kind != null">
        KIND = #{kind,jdbcType=NUMERIC},
      </if>
      <if test="dateType != null">
        DATE_TYPE = #{dateType,jdbcType=NUMERIC},
      </if>
      <if test="maxLength != null">
        MAX_LENGTH = #{maxLength,jdbcType=NUMERIC},
      </if>
      <if test="minLength != null">
        MIN_LENGTH = #{minLength,jdbcType=NUMERIC},
      </if>
      <if test="maxNum != null">
        MAX_NUM = #{maxNum,jdbcType=NUMERIC},
      </if>
      <if test="minNum != null">
        MIN_NUM = #{minNum,jdbcType=NUMERIC},
      </if>
      <if test="regularText != null">
        REGULAR_TEXT = #{regularText,jdbcType=NVARCHAR},
      </if>
      <if test="dateFormat != null">
        DATE_FORMAT = #{dateFormat,jdbcType=NVARCHAR},
      </if>
      <if test="queryFields != null">
        QUERY_FIELDS = #{queryFields,jdbcType=NVARCHAR},
      </if>
      <if test="listoffilter != null">
        LISTOFFILTER = #{listoffilter,jdbcType=NVARCHAR},
      </if>
      <if test="value != null">
        VALUE = #{value,jdbcType=NVARCHAR},
      </if>
      <if test="text != null">
        TEXT = #{text,jdbcType=NVARCHAR},
      </if>
      <if test="dateSourceKind != null">
        DATE_SOURCE_KIND = #{dateSourceKind,jdbcType=NUMERIC},
      </if>
      <if test="valueRange != null">
        VALUE_RANGE = #{valueRange,jdbcType=NVARCHAR},
      </if>
      <if test="isdelete != null">
        ISDELETE = #{isdelete,jdbcType=NUMERIC},
      </if>
      <if test="createat != null">
        CREATEAT = #{createat,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null">
        CREATEBY = #{createby,jdbcType=CHAR},
      </if>
      <if test="updateat != null">
        UPDATEAT = #{updateat,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null">
        UPDATEBY = #{updateby,jdbcType=CHAR},
      </if>
      <if test="fieldText != null">
        FIELD_TEXT = #{fieldText,jdbcType=NVARCHAR},
      </if>
    </set>
    where OPTION_ID = #{optionId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.asd.entity.OptionBto">
    update F_OPTION
    set KIND = #{kind,jdbcType=NUMERIC},
      DATE_TYPE = #{dateType,jdbcType=NUMERIC},
      MAX_LENGTH = #{maxLength,jdbcType=NUMERIC},
      MIN_LENGTH = #{minLength,jdbcType=NUMERIC},
      MAX_NUM = #{maxNum,jdbcType=NUMERIC},
      MIN_NUM = #{minNum,jdbcType=NUMERIC},
      REGULAR_TEXT = #{regularText,jdbcType=NVARCHAR},
      DATE_FORMAT = #{dateFormat,jdbcType=NVARCHAR},
      QUERY_FIELDS = #{queryFields,jdbcType=NVARCHAR},
      LISTOFFILTER = #{listoffilter,jdbcType=NVARCHAR},
      VALUE = #{value,jdbcType=NVARCHAR},
      TEXT = #{text,jdbcType=NVARCHAR},
      DATE_SOURCE_KIND = #{dateSourceKind,jdbcType=NUMERIC},
      VALUE_RANGE = #{valueRange,jdbcType=NVARCHAR},
      ISDELETE = #{isdelete,jdbcType=NUMERIC},
      CREATEAT = #{createat,jdbcType=TIMESTAMP},
      CREATEBY = #{createby,jdbcType=CHAR},
      UPDATEAT = #{updateat,jdbcType=TIMESTAMP},
      UPDATEBY = #{updateby,jdbcType=CHAR},
      FIELD_TEXT = #{fieldText,jdbcType=NVARCHAR}
    where OPTION_ID = #{optionId,jdbcType=CHAR}
  </update>
</mapper>